* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    max-height: 1920px;
    overflow-y: auto;
    border: 0;
    padding: 0;
    background-color: #172559;
}

.nav {
    display: flex;
    background-color: #747c9cd5;
    height: 60px;
    width: 100%;
    position: fixed;
}

.cont-div-nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.div-escudo {
    width: 5%;
    height: auto;
    padding-left: 15px;
}

.img-escudo {
    width: 40%;
    height: 40%;
}

.div-titulo {
    width: 25%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.div-buttons-nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-button {
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-button a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.div-button button {
    height: 100%;
    width: 100%;
    background-color: #4c52700c;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.div-button button:hover {
    background-color: #0FBD49;
    color: white;
}

.div-button-demo {
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.button-demo {
    background: #0FBD49;
    font-size: 15px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.button-demo:hover {
    background: #7C3AED;
}

.div-main {
    padding: 60px 30px 30px 30px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.div-main-content-anunciado {
    width: 50%;
    color: white;
    padding: 10px;
    min-height: 100%;
}

.div-main-titulo {
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 50%;
}

.h1-titulo {
    line-height: 65px;
    font-size: 4rem;
    font-family: "font-family: 'Montserrat', sans-serif";
    font-weight: 700;
    text-align: start;
    margin: 0;
}

.div-text-parrafo {
    padding: 10px;
    min-height: 30%;
}

.p-parrafo {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d5d6d8;
    text-align: start;
    padding-left: 30px;
}

.div-button-solicitud-demostracion {
    height: 20%;
}

.button-solicitud-demostracion {
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 30px;
    background: #0FBD49;
    padding: 25px 30px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.div-main-content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 100%;
    padding: 15px;
}

.imagen-runion {
    width: 100%;
    height: auto;
}

.div-servicios {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
}

.div-titulos-servicios {
    width: 100%;
    height: 35%;
}

.titulo-servicios {
    height: 85%;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 20px;
    justify-content: center;
}

.subtitulo-servicios {
    height: 15%;
    font-size: 18px;
    color: #555555;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.div-targets {
    background-color: aliceblue;
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.target {
    width: 20%;
    height: 90%;
    border: #172559 solid 1px;
    padding: 10px;
    border-radius: 5px;
}

.tag-icono {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-icon-back {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #172559;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-target-service {
    width: 40px;
    height: 40px;
}

.div-title-tag-service {
    height: 10%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.tag-titulo {
    text-align: center;
    font-size: 23px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div-tag-description {
    height: 25%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 2%;
}

.tag-descripcion {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13, 5px;
    color: #16161b;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div-button-mas {
    height: 20%;
    width: 100%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-mas {
    background: #0FBD49;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    height: 40px;
}

.div-actualizaciones {
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}

.div-titulos-actualizaciones {
    width: 100%;
    height: 35%;
}

.titulo-actualizaciones {
    height: 85%;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 20px;
    justify-content: center;
}

.subtitulo-actualizaciones {
    height: 15%;
    font-size: 18px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-targets-actualizaciones {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.target-actualizacion {
    border-radius: 5px;
    width: 30%;
    height: 75%;
    padding: 10px;
    border: #5681f9 solid 1px;
    border-radius: 5px;
}

.div-icon-tag-actualizacion {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-image-actualizacion-back {
    width: 100px;
    height: 100px;
    background-color: #0FBD49;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon-target-actualizacion {
    width: 70%;
    height: 70%;
}

.div-title-actualizacion {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-actualizacion {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 10px;
}

.div-description-actualizacion {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-actualizacion {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: #747C9C;
}

.div-link-mas {
    height: 15%;
    width: 100%;
    color: #172559;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-main-potenciadaIA {
    width: 100%;
    min-height: 100vh;
    padding: 60px 0px 60px 0px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.div-content-anunciado-pontenciadaIA {
    width: 50%;
    min-height: 100%;
    padding-top: 5%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-main-anunciado-potenciado-IA {
    height: 100%;
    width: 80%;
}

.div-title-main-anunciado {
    height: 40%;
    display: flex;
    align-items: end;
}

.titulo-potenciadaIA {
    font-size: 40px;
}

.div-subtitulo-potenciadaIA {
    height: 30%;
    display: flex;
    align-items: center;
}

.subtitulo-potenciadaIA {
    font-size: 17px;
}

.div-button-generar-reporte {
    height: 20%;
    display: flex;
    align-items: start;
}

.button-generar-reporte {
    margin-top: 20px;
    background: #172559;
    padding: 15px 30px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.div-pontenciadaIA-content-img {
    width: 50%;
    min-height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-beneficios {
    width: 100%;
    height: 100vh;
    background-color: #E5E7EB;
}

.div-title-beneficios {
    height: 50%;
    width: 100%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-beneficios {
    font-size: 3rem;
    width: 80%;
    text-align: center;
}

.div-porcentajes {
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
    padding-top: 20px;
}

.div-porcentaje {
    height: 100%;
    width: 20%;
    padding: 15px;
}

.numero-porcentaje {
    text-align: center;
    color: #172559;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin: 10px;
}

.numero-porcentaje:hover {
    color: #0FBD49;
    transform: scale(1.05);
}

.subtitulo-porcentaje {
    padding-inline-start: 5;
    text-align: center;
}

.div-formulario-demostracion {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.div-presentacion {
    width: 100%;
    height: 30%;
    text-align: center;
    padding-top: 5%;
}

.titulo-formulario {
    font-size: 3rem;
}

.subtitulo-formulario {
    font-size: 18px;
    color: #555555;
}

.div-formulario {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 60%;
    height: 100%;
    background-color: #172559;
    color: white;
}

.formulario input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
}

.sec-primero {
    display: flex;
    height: 33.33%;
    align-items: center;
}

.subsec {
    width: 50%;
    padding: 30px 30px 0 30px;
}

.sec-segundo {
    width: 50%;
    padding: 0 30px 0 30px;
    display: flex;
    height: 33.33%;
    align-items: center;
}

.sec-segundo-subsec {
    width: 100%;
}

.sec-tercero {
    padding: 30px 30px 30px 30px;
    display: flex;
    height: 33.33%;
    align-items: center;
}

.sec-tercero input {
    height: 55px;
}

.div-button-form {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-enviar {
    background: #0FBD49;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 150px;
    height: 41px;
}

.div-end {
    width: 100%;
    height: 45vh;
    color: #dadee9;
}

.div-end-contenedores {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.content-end {
    width: 20%;
    height: 100%;
}

.title-centinela {
    height: 30%;
    display: flex;
    align-items: end;
}

.div-parrafo-centinela {
    height: 70%;
    padding-top: 15px;
}

.div-iconos-redes {
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.icono-redes {
    width: 10%;
    height: auto;
    cursor: pointer;
    padding: 8px;
}

.linea {
    height: 1px;
    width: 100%;
}

.footer {
    text-align: center;
    color: #d5d6d8;
    font-size: 17px;
    padding: 25px;
}

.icono-email,
.icono-llamada {
    position: fixed;
    right: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: all 0.3 ease;
    animation: pulsar 2s ease-in-out infinite;
}

.icono-llamada {
    position: fixed;
    bottom: 30px;
    background-color: #0FBD49;
}

.icono-llamada:hover {
    background-color: #E8B10E;
    rotate: 30deg;
}

.img-icon-llamada {
    width: 25px;
    height: 25px;
}

.icono-email {
    bottom: 110px;
    background-color: #0FBD49;
}

.icono-email:hover {
    background-color: #E8B10E;
    rotate: -30deg;
}

.img-icon-email {
    width: 25px;
    height: 25px;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }
}

/* Modificacione de div actualizaciones */
@media (max-width: 900px) {

    /* 1. Reset de Alturas: Fundamental para que nada se encime */
    .div-main,
    .div-servicios,
    .div-actualizaciones,
    .div-main-potenciadaIA,
    .div-beneficios,
    .div-formulario-demostracion,
    .div-end {
        height: auto !important;
        /* min-height: 100vh; */
        flex-direction: column;
        scroll-margin-top: 200px;
        min-width: 350px;
    }

    .nav {
        position: fixed;
        min-width: 350px;
        height: auto;
        padding: 10px 0;
        background-color: #5C658E;
    }

    .cont-div-nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .div-escudo {
        padding: 0;
        width: 30%;
        margin: 0;
    }

    .img-escudo {
        max-width: 35px;
        height: auto;
    }

    .div-titulo {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    /* Los botones de navegación */
    .div-buttons-nav {
        width: 100%;
        order: 3;
        flex-wrap: wrap;
        justify-content: center;
        gap: auto;
    }

    .div-button {
        width: auto;
        padding: 0 10px;
    }

    /* El botón de Demo */
    .div-button-demo {
        width: 100%;
        order: 4;
        justify-content: center;
        padding-top: 5px;
    }

    .button-demo {
        width: 100%;
        padding: 8px;
    }

    .div-titulo {
        width: 70%;
        font-size: 18px;
    }

    .div-main {
        padding: 0;
        padding-top: 200px;
    }

    /* Seccion de div services */
    .subtitulo-servicios {
        padding: 0 10px;
    }

    .tag-icon-back {
        width: 60px;
        height: 60px;
    }

    .icon-target-service {
        width: 30px;
        height: 30px;
    }

    .div-tag-description {
        padding-bottom: 5px;
    }

    .titulo-actualizaciones {
        text-align: center;
    }

    .subtitulo-actualizaciones {
        text-align: center;
        padding: 0 10px;
    }

    .div-description-actualizacion {
        padding: 10px 0px;
        text-align: center;
    }

    .div-subtitulo-potenciadaIA {
        padding: 10px 0px;
    }

    .div-button-generar-reporte {
        width: 100%;
        justify-content: center;
    }

    .div-pontenciadaIA-content-img {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .div-presentacion {
        height: auto;
        width: 100%;
        padding: 20px;
    }

    .div-subtitulo-formulario {
        padding: 10px 10px;
    }

    .div-formulario {
        height: auto;
        width: 100%;
        padding: 20px;
    }

    /* 6. Formulario */
    .formulario {
        width: 95%;
        height: auto;
    }

    .div-button-form {
        width: 100%;
        padding: 20px;
        height: auto;
    }

    /* 3. Hero Section (Sección Principal) */
    .div-main-content-anunciado,
    .div-main-content-img,
    .div-content-anunciado-pontenciadaIA {
        width: 100%;
        text-align: center;
    }

    .h1-titulo {
        font-size: 2.5rem;
        line-height: 1.2;
        text-align: center;
    }

    .p-parrafo {
        padding-left: 0;
        text-align: center;
        font-size: 18px;
    }

    .button-solicitud-demostracion {
        margin-left: 0;
        width: 90%;
    }

    /* 4. Servicios y Tarjetas */
    .div-targets,
    .div-targets-actualizaciones {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding: 20px;
    }

    .target,
    .target-actualizacion {
        width: 90%;
        /* Tarjetas casi a ancho completo */
        height: auto;
        padding: 20px;
    }

    .titulo-servicios,
    .titulo-actualizaciones,
    .titulo-beneficios,
    .titulo-formulario {
        font-size: 2rem;
        height: auto;
        padding: 15px 20px;
    }

    /* 5. Sección de Beneficios (Porcentajes) */
    .div-porcentajes {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .div-porcentaje {
        width: 80%;
        margin-bottom: 20px;
    }

    .sec-primero {
        flex-direction: column;
        height: auto;
    }

    .subsec {
        width: 100%;
        padding: 15px;
    }

    .sec-segundo,
    .sec-tercero {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    /* 7. Footer */
    .div-end-contenedores {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .content {
        width: 100%;
    }

    /* 8. Botones Flotantes (Llamada/Email) */
    .icono-email,
    .icono-llamada {
        width: 50px;
        height: 50px;
        right: 15px;
    }

    .content-end {
        width: 70%;
        text-align: center;
    }

    .title-centinela {
        justify-content: center;
    }

     .div-iconos-redes {
        justify-content: center;
    }

    .icono-redes {
        width: 40px;
        margin: 0 10px;
    }

}

/* Modificacion de div actualizaciones */
@media (min-width: 1500px) {

    .titulo-actualizaciones {
        line-height: 85px;
        font-size: 6rem;
    }

    .subtitulo-actualizaciones {
        font-size: 1.5rem;
        padding-right: 30px;
    }

    .div-image-actualizacion-back {
        width: 130px;
        height: 130px;
    }

    .title-actualizacion {
        font-size: 20px;
    }

    .description-actualizacion {
        font-size: 18px;
    }

    .act-link-mas {
        font-size: 25px;
    }
}

/* Modiicacion de servicios */
@media (min-width: 1500px) {

    .h1-titulo {
        line-height: 85px;
        font-size: 6rem;
    }

    .p-parrafo {
        font-size: 2rem;
        padding-right: 30px;
    }

    .button-solicitud-demostracion {
        font-size: 16px;
    }

    .div-servicios {
        height: 100vh;
    }

    .div-titulos-servicios {
        height: 40%;
    }

    .titulo-servicios {
        height: 65%;
        font-size: 6rem;
    }

    .subtitulo-servicios {
        height: 35%;
        font-size: 1.5rem;
        align-items: center;
    }

    .div-targets {
        height: 60%;
    }

    .target {
        width: 22%;
        height: 70%;
        border: #172559 solid 1px;
        border-radius: 5px;
    }

    .tag-icon-back {
        width: 120px;
        height: 120px;
    }

    .tag-titulo {
        font-size: 25px;
    }

    .tag-descripcion {
        font-size: 18px;
    }

}

/* Modiicacion de div pontenciadaIA */
@media (min-width: 1500px) {

    .titulo-potenciadaIA {
        font-size: 60px;
    }

    .subtitulo-potenciadaIA {
        font-size: 25px;
    }

    .button-generar-reporte {
        font-size: 20px;
    }
}